
body {
    display: flex;
    flex-direction: column;

    background-color: #000;
    color: #FFF;
    font-family: sans-serif;

    height: 100vh;
    width: 100vw;
    
    margin: 0px;
}

.button {
    flex-grow: 1;
    background-color: #222;
    border-radius: 25px;
    cursor: pointer;
}

.button:active {
    background-color: #333;
}

.controls {
    display: flex;
    flex-direction: column;

    max-width: 94vw;
    width: 100%;
    flex-grow: 1;

    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.controls .spacer {
    height: 3vw
}

.title {
    flex-shrink: 1;
}

.title h1 {
    font-size: 1.4rem;

    font-weight: 500;

    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

