
body {
    background-color: #000;
    color: #707074;
    font-family: sans-serif;

    margin: 0px;
    position: fixed;
    height: 100%;
}

#clicker_ui {
    display: flex;
    flex-direction: column;

    height: calc(100% - min(6vw, 6vh));
    width: calc(100vw - min(6vw, 6vh));

    margin-left: min(3vw, 3vh);
    margin-right: min(3vw, 3vh);
    margin-top: min(3vw, 3vh);
    margin-bottom: min(3vw, 3vh);
}

#next {
    background-image: url("/img/arrow-right.svg");
}

#previous {
    background-image: url("/img/arrow-left.svg");
}

.button {
    animation: pulse-inactive .3s ease-in 0s 1 normal forwards;
    background-color: #202024;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.button:active {
    animation: pulse-active .05s ease-out 0s 1 normal forwards;
    background-color: #334;
}

.controls {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: 100%;
}

.controls > .button {
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1;
}

@media (orientation: landscape) {
    .controls {
        flex-direction: row;
    }
    
}

.controls .spacer {
    height: min(3vw, 3vh);
    width: min(3vw, 3vh);
}

.title {
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: min(3vw, 3vh);
}

.title > img {
    width: 2.5rem;
    height: 2.5rem;
}

.title h1 {
    display: inline;

    font-size: 1.4rem;
    font-weight: 500;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title .button-bar {
    margin-left: auto;
    margin-right: -.5rem;
}

.button-bar > .button {
    height: 3rem;
    width: 3rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

#fullscreen_button {
    background-image: url("/img/fullscreen.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
}

#modal {
    position: fixed;
    overflow: auto;

    background-color: #000d;
    color: #c0c0c4;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100%;
}

.hidden {
    visibility: hidden;
    animation: fade-out 0.14s ease-out 0ms 1 normal forwards;
    transition: visibility 0s 0.12s;
}

.visible {
    visibility: visible;
    animation: fade-in 0.14s ease-out 0ms 1 normal forwards;
}

#m_title {
    font-size: 2.0rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

#modal_prompt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;

    width: 90vw;
    max-width: 50rem;
    min-height: 100%;
}

#modal .button {
    border-radius: 15px;

    padding: 1rem;
}

#modal_prompt .button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#m_nah {
    animation: none;
    background-color: #0000;
}

.modal-actions {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#modal_block {
    position: fixed;
    align-content: center;

    width: 100%;
    height: 100%;
}

#m_center_title {
    font-size: 1.4rem;
    text-align: center;

    max-width: 70vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#m_center_msg {
    max-width: 70vw;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#m_wheel {
    animation: spin 4s linear 0ms infinite normal forwards;

    background-image: url("/img/wheel.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 3rem;
    height: 3rem;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#m_reconnect {
    width: max-content;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#wakelock_fallback {
    /* if this is 5x5 it... crashes safari‽ */
    max-width: 10px;
    max-height: 10px;
}

#wakelock_fallback video {
    width: 10px;
    height: 10px;
}

@keyframes pulse-active {
    from {
        background-color: #2b2b2f;
    }
    to {
        background-color: #334;
    }
}

@keyframes pulse-inactive {
    from {
        background-color: #334;
    }
}

@keyframes defocus {
    to {
        filter: blur(5px);
    }
}

@keyframes focus {
    from {
        filter: blur(5px);
    }
}


@keyframes fade-in {
    from {
        opacity: 0%;
    }
}

@keyframes fade-out {
    to {
        opacity: 0%;
    }
}

@keyframes spin {
    to {
        transform: rotateZ(360deg);
    }
}
