body{
    text-align: center;
    margin-top: 60px;
    background-color: #c0c0c4;
}

#hamburger-menu{
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 1;
}

#navbar-container{
    background-color: black;
    color: white;
    font-family: inherit;
    font-weight: 600;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    list-style-type: none;
    padding: 5px 0;
    margin: 0;
    justify-content: center;
}

#navbar-container li{
    display: inline;
    padding: 10px 20px;
}

#navbar-container li:hover {
    background-color: #FF671D;
}

#navbar-container li a{
    text-decoration: none;
    color: #FFF;
}

/*hide the navbar on small screens initially*/
@media (max-width: 400px){
    #navbar-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        width: 100%;
        background-color: #000;
    }

    #navbar-container li{
        display: block;
        padding: 15px;
        text-align: center;
    }

    #hamburger-menu {
        display: block;
        background-color: #000;
    }
}

/* Shows the navbar when .show class is included */
#navbar-container.show {
    display: flex;
    flex-direction: column;
    position: fixed;
}

#home h1{
    font-family: Inherit, sans-serif;
    letter-spacing: 1px;
}

#home p {
    font-family: Californian FB, sans-serif;
    color: #333344;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 2em;
    line-height: 2em;
}

#button-container{
    text-align: center;
    background-color: #202024;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    margin: 2em auto;
}

#button-container:hover{
    background-color: #FF671D;
}

#button-container a{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
}

#instructions h2{
    margin-top: 4em;
}

#instructions ol{
    text-align: center;
    margin: auto;
    display: inline-block;
    font-family: Californian FB, sans-serif;
    font-weight: 600;
    justify-content: center;
}

#instructions li{
    font-family: Californian FB, sans-serif;
    text-align: left;
    padding-left: 2em;
    margin: 2em;
}

ol li a{
    text-decoration: none;
    color: #FFF;
    font-weight: 800;
}

#browser-notes ul{
    text-align: center;
    margin: auto;
    display: inline-block;
}

#browser-notes li{
    font-family: Californian FB, sans-serif;
    text-align: left;
    padding-left: 2em;
    margin: 2em;
}