[Unit]
Description=staged session server
After=network-online.target

[Service]
User=staged
Group=staged
RuntimeDirectory=staged
RuntimeDirectoryPreserve=yes
WorkingDirectory=/opt/staged/app
Environment="LC_ALL=C.UTF-8"
ExecStart=/opt/staged/venv/bin/python -u /opt/staged/app/sessionserver.py
Restart=on-failure
KillSignal=SIGINT

PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
PrivateDevices=true
NoNewPrivileges=true
CapabilityBoundingSet=~CAP_SYS_ADMIN

[Install]
WantedBy=multi-user.target